{% extends "layout.html" %}

{% block dynamicpage %}
<div class="loginRegBody">
    <div class="auth-container">
        <!-- Tabs for Login/Register -->
        <div class="auth-header">
            <div class="auth-tab active" id="login-tab">Login</div>
        </div>

        <!-- Forms Container -->
        <div class="auth-forms">
        <!-- Login Form -->
        <div class="auth-form active" id="login-form">
            <h2 class="form-title">Welcome Back</h2>
            <form>
                <div class="input-group">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Email" required>
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" required>
                </div>
                {% if form.errors %}
                    <ul class="error-messages">
                        {% for field, errors in form.errors.items %}
                            <li>{{ field }}: {{ errors|join:", " }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="remember-forgot">
                    <div class="remember-me">
                    <input type="checkbox" id="remember">
                    <label for="remember" class="remember-me-text">Remember me</label>
                    </div>
                    <div class="forgot-password">
                    <a href="#">Forgot password?</a>
                    </div>
                </div>
                <button type="submit" class="auth-btn">Login</button>
            </form>

            <div class="social-login">
            <p>Or login with</p>
            <div class="social-icons">
                <div class="social-icon facebook">
                <i class="fab fa-facebook-f"></i>
                </div>
                <div class="social-icon google">
                <i class="fab fa-google"></i>
                </div>
                <div class="social-icon linkedin">
                <i class="fab fa-linkedin-in"></i>
                </div>
            </div>
            </div>

            <div class="switch-form">
            Don't have an account? <a href="{% url 'auth-register' %}" id="switch-to-register">Register here</a>
            </div>
        </div>

        <!-- Register Form -->
        <div class="auth-form" id="register-form">

        </div>
    </div>
</div>
{% endblock dynamicpage %}
