{% extends "layout.html" %}
{% load custom_filters %}

{% block dynamicpage %}
    {% if user_auth %}
        {% if company_role %}
        <div class="profile-container">
            <div class="profile-header">
                <div class="profile-header-actions">
                    <a href="{% url 'profile-update' %}" class="edit-profile-btn">
                        <i class="fas fa-edit"></i> Edit Profile
                    </a>
                </div>
                <img src="https://ui-avatars.com/api/?name={{company_role.user.full_name}}&background=10B981&color=FFF&size=150"  class="profile-avatar">
                <h1 class="profile-name">{{ company_role.user.full_name }}</h1>
                <p class="profile-title">{{ company_role.tagline }}</p>

                <div class="profile-contact">
                    <span class="contact-item">
                        <i class="fas fa-microchip"></i>
                        <span class="contact-text">{{ company_role.industry}} Company</span>
                    </span>
                    <!-- <span class="contact-item">
                        <i class="fas fa-phone"></i>
                        <span class="contact-text">{{ company_role.phone }}</span>
                    </span> -->
                    <span class="contact-item">
                        <i class="fas fa-envelope"></i>
                        <span class="contact-text">{{ company_role.user.email }}</span>
                    </span>
                    <span class="contact-item">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="contact-text">{{ company_role.country }}</span>
                    </span>
                </div>
                <div class="ready-status">
                    {% if not company_role.hire_status == 'Hiring'  %}
                    <span class="status-dot1"></span>
                    <span class="status-dot-text">{{ company_role.hire_status }}</span>
                    {% else %}
                    <span class="status-dot"></span>
                    <span class="status-dot-text">{{ company_role.hire_status }}</span>
                    {% endif %}
                </div>
            </div>

            <div class="profile-grid">
                <div class="profile-sidebar">
                    <div class="sidebar-section">
                        <h3 class="sidebar-title">About Us</h3>
                        <div class="profile-field-group">
                            <p class="profile-value">
                                {{ company_role.about_us }}
                            </p>
                        </div>
                    </div>

                    <div class="sidebar-section">
                        <h3 class="sidebar-title">Mission Statement</h3>
                        <div class="profile-field-group">
                            <p class="profile-value">
                                {{ company_role.mission_statement }}
                            </p>
                        </div>
                    </div>

                    <div class="sidebar-section">
                        <h3 class="sidebar-title">Core Tech</h3>
                        <div class="profile-field-group">
                            <div class="skills-list">
                                {% for tech in company_role.core_tech|split:"," %}
                                <span class="skill-tag">{{ tech }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-section">
                        <h3 class="sidebar-title">Awards</h3>
                        <div class="profile-field-group">
                            <!-- <p class="profile-label">Highest Education Level</p> -->
                            {% for awards in company_role.awards|split:"," %}
                                <span class="cert-tag">{{ awards }}</span>
                            {% endfor %}
                            <!-- <p class="profile-value">{{ company_role.awards }}</p> -->
                        </div>
                    </div>

                    <div class="sidebar-section">
                        <h3 class="sidebar-title">Certifications</h3>
                        <div class="profile-field-group">
                            <div class="certs-list">
                                {% for certifications in company_role.certifications|split:"," %}
                                <span class="cert-tag">{{ certifications }}</span>
                                {% endfor %}
                                <!-- <span class="cert-tag">NN/g UX Certification</span>
                                <span class="cert-tag">Google UX Design</span>
                                <span class="cert-tag">Adobe Certified Expert</span> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile-main">
                    <div class="profile-section">
                        <h2 class="sidebar-title">Company Information</h2>

                        <div class="profile-field-group">
                            <p class="profile-label">Company Name</p>
                            <p class="profile-value">{{ company_role.user.full_name }}</p>
                        </div>

                        <div class="profile-field-group">
                            <p class="profile-label">Company Mail</p>
                            <p class="profile-value">{{ company_role.user.email }}</p>
                        </div>

                        <div class="profile-field-group">
                            <p class="profile-label">Work Type</p>
                            {% if company_role.work_mode  %}
                            <p class="profile-value">{{ company_role.work_mode }}</p>
                            {% else %}
                            <p class="profile-value">-</p>
                            {% endif %}
                        </div>

                        <div class="profile-field-group">
                            <p class="profile-label">Founded</p>
                            {% if company_role.founded  %}
                            <p class="profile-value">{{ company_role.founded }}</p>
                            {% else %}
                            <p class="profile-value">-</p>
                            {% endif %}
                        </div>

                        <div class="profile-field-group">
                            <p class="profile-label">Parent Company</p>
                            {% if company_role.parent_company  %}
                            <p class="profile-value">{{ company_role.parent_company }}</p>
                            {% else %}
                            <p class="profile-value">-</p>
                            {% endif %}
                        </div>

                        <div class="profile-field-group">
                            <p class="profile-label">Headquarters</p>
                            <p class="profile-value">{{ company_role.headquarters }}</p>
                        </div>

                        <div class="profile-field-group">
                            <p class="profile-label">Employees</p>
                            <p class="profile-value">-</p>
                        </div>

                        <div class="profile-field-group">
                            <p class="profile-label">Annual Growth Rate:</p>
                            <p class="profile-value">{{ company_role.annual_growth_rate }}%</p>
                        </div>

                        <div class="profile-field-group">
                            <p class="profile-label">Website</p>
                            <p class="profile-value"><a href="{{company_role.website}}">{{ website_name }}</a></p>
                        </div>

                        <div class="profile-field-group">
                            <p class="profile-label">Tagline</p>
                            <p class="profile-value">{{ company_role.tagline }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <!-- User Profile Page -->
        <div class="profile-container">
            <div class="profile-header">
                <div class="profile-header-actions">
                    <a href="{% url 'profile-update' %}" class="edit-profile-btn">
                        <i class="fas fa-edit"></i> Edit Profile
                    </a>
                </div>
                <img src="{{user_profile.profile_picture.url}}"  class="profile-avatar">
                <h1 class="profile-name">{{ user_profile.user.full_name }}</h1>
                <p class="profile-title">{{ user_profile.job_title }} at {{ user_profile.company_name }}</p>

                <div class="profile-contact">
                    <span class="contact-item">
                        <i class="fas fa-birthday-cake"></i>
                        <span class="contact-text">{{ user_profile.DOB | date:"F j, Y" }}</span>
                    </span>
                    <span class="contact-item">
                        <i class="fas fa-phone"></i>
                        <span class="contact-text">{{ user_profile.phone }}</span>
                    </span>
                    <span class="contact-item">
                        <i class="fas fa-envelope"></i>
                        <span class="contact-text">{{ user_profile.user.email }}</span>
                    </span>
                    <span class="contact-item">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="contact-text">{{ user_profile.user_country }}</span>
                    </span>
                </div>
                <div class="ready-status">
                    {% if ready_to_work  %}
                    <span class="status-dot"></span>
                    <span class="status-dot-text">{{ user_profile.ready_to_work }}</span>
                    {% else %}
                    <span class="status-dot1"></span>
                    <span class="status-dot-text">{{ user_profile.ready_to_work }}</span>
                    {% endif %}
                </div>
            </div>

            <div class="profile-grid">
                <div class="profile-sidebar">
                    <div class="sidebar-section">
                        <h3 class="sidebar-title">About Me</h3>
                        <div class="profile-field-group">
                            <p class="profile-value">
                                {{ user_profile.bio }}
                            </p>
                        </div>
                    </div>

                    <div class="sidebar-section">
                        <h3 class="sidebar-title">Work/Career</h3>
                        <div class="profile-field-group">
                            <p class="profile-value">
                                {{ user_profile.work_field }}
                            </p>
                        </div>
                    </div>
                    <div class="sidebar-section">
                        <h3 class="sidebar-title">Work Experience</h3>
                        <div class="profile-field-group">
                            <p class="profile-value">
                                {{ user_profile.work_experience }} years
                            </p>
                        </div>
                    </div>

                    <div class="sidebar-section">
                        <h3 class="sidebar-title">Education</h3>
                        <div class="profile-field-group">
                            <p class="profile-label">Highest Education Level</p>
                            <p class="profile-value">{{ user_profile.highest_education_level }}</p>
                        </div>
                    </div>

                    <div class="sidebar-section">
                        <h3 class="sidebar-title">Portfolio</h3>
                        <div class="profile-field-group">
                            <p class="profile-value">
                                <a href="{{ user_profile.portfolio }}">{{ website_name }}</a>
                            </p>
                        </div>
                    </div>

                    <div class="sidebar-section">
                        <h3 class="sidebar-title">Skills</h3>
                        <div class="profile-field-group">
                            <div class="skills-list">
                                {% for tech in user_profile.skills.all %}
                                <span class="skill-tag">{{ tech }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-section">
                        <h3 class="sidebar-title">Projects</h3>
                        <div class="profile-field-group">
                            <div class="skills-list">
                                {% for project in user_profile.project|split:"," %}
                                <span class="cert-tag">{{ project }}</span>
                                {% endfor %}
                                <!-- <span class="skill-tag">TechScape</span>
                                <span class="skill-tag">Data Vault</span>
                                <span class="skill-tag">JOB DMS</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-section">
                        <h3 class="sidebar-title">Certifications</h3>
                        <div class="profile-field-group">
                            <div class="certs-list">
                                {% for certifications in user_profile.certifications|split:"," %}
                                <span class="cert-tag">{{ certifications }}</span>
                                {% endfor %}
                                <!-- <span class="cert-tag">NN/g UX Certification</span>
                                <span class="cert-tag">Google UX Design</span>
                                <span class="cert-tag">Adobe Certified Expert</span> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile-main">
                    <div class="profile-section">
                        <h2 class="sidebar-title">Personal Information</h2>

                        <div class="profile-field-group">
                            <p class="profile-label">Full Name</p>
                            <p class="profile-value">{{ user_profile.user.full_name }}</p>
                        </div>

                        <div class="profile-field-group">
                            <p class="profile-label">Date of Birth</p>
                            <p class="profile-value">{{ user_profile.DOB | date:"F j, Y" }}</p>
                        </div>

                        <div class="profile-field-group">
                            <p class="profile-label">Phone Number</p>
                            <p class="profile-value">{{ user_profile.phone }}</p>
                        </div>

                        <div class="profile-field-group">
                            <p class="profile-label">Email</p>
                            <p class="profile-value">{{ user_profile.user.email }}</p>
                        </div>

                        <div class="profile-field-group">
                            <p class="profile-label">Nationality</p>
                            <p class="profile-value">{{ user_profile.user_country }}</p>
                        </div>
                    </div>

                    <div class="profile-section">
                        {% if current %}
                        <h2 class="sidebar-title">Current Employment</h2>

                        <div class="employment-item">
                            <p class="employment-company">{{ user_profile.company_name }}</p>
                            <div class="employment-details">
                                <span>{{ user_profile.job_title }}</span>
                                <span>{{ user_profile.employment_type }}</span>
                            </div>
                            <div class="employment-details">
                                <span>{{ user_profile.start_date | date:'M y'}} - {% if user_profile.end_date %}{{ user_profile.end_date | date:'M y' }}{% else %}Present{% endif %}</span>
                                <span>{{ user_profile.job_location }}</span>
                            </div>
                            <p class="profile-value">
                                {{ user_profile.job_description }}
                            </p>
                        </div>
                        {% endif %}

                        <div class="experience-tab">
                            <h3>Experience</h3>
                            <a href="{% url 'employment' %}" class="edit-profile-btn">
                                <i class="fas fa-plus"></i> Add
                            </a>
                        </div>
                        <!-- <h3 class="sidebar-title"></h3> -->
                        <div class="employment-item">
                            <div class="employment-details">
                                <p class="employment-company">{{ user_profile.company_name }}</p>

                                <a href="{% url 'profile-update' %}" class="edit-profile-btn-new">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                            </div>
                            <div class="employment-details">
                                <span>{{ user_profile.job_title }}</span>
                                <span>{{ user_profile.employment_type }}</span>
                            </div>
                            <div class="employment-details">
                                <span>{{ user_profile.start_date | date:'M y'}} - {% if user_profile.end_date %}{{ user_profile.end_date | date:'M y' }}{% else %}Present{% endif %}</span>
                                <span>{{ user_profile.work_mode }}</span>
                            </div>
                            <div class="employment-details">
                                <span>{{ user_profile.job_location }}</span>
                            </div>
                            <p class="profile-value">
                                {{ user_profile.job_description }}
                            </p>
                        </div>

                        <!-- Experience Model -->
                        {% for exp in  experience %}
                        <div class="employment-item">
                            <div class="employment-details">
                                <p class="employment-company">{{ exp.company_name }}</p>

                                <div class="profile-header-action">

                                    <a href="{% url 'employment' %}?update={{exp.pk}}" class="edit-profile-btn-new">
                                        <i class="fas fa-edit"></i> Edit
                                    </a>
                                </div>
                            </div>
                            <div class="employment-details">
                                <span>{{ exp.job_title }}</span>
                                <span>{{ exp.employment_type }}</span>
                            </div>
                            <div class="employment-details">
                                <span>{{ exp.start_date | date:'M y'}} - {% if exp.end_date %}{{ exp.end_date | date:'M y' }}{% else %}Present{% endif %}</span>
                                <span>{{ exp.work_mode }}</span>
                            </div>
                            <div class="employment-details">
                                <span>{{ exp.job_location }}</span>
                            </div>
                            <p class="profile-value">
                                {{ exp.job_description }}
                            </p>
                        </div>
                        {% endfor %}

                    </div>

                    <!-- <div class="profile-section">
                        <h2 class="sidebar-title">Resume</h2>
                        <a href="#" class="resume-download">
                            <i class="fas fa-download"></i>
                            Download Resume (PDF)
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                const msg = document.querySelectorAll(".msg-auth");
                msg.forEach(function (message) {
                    const messageText = message.getAttribute("data-id");
                    toastr.success(messageText, "Success", {
                        closeButton: true,
                        progressBar: true,
                        positionClass: "toast-top-right",
                        timeOut: 3000,
                        preventDuplicates: true,
                        newestOnTop : false,

                    });
                });
            });
        </script>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="msg-auth" data-id="{{ message }}"></div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock dynamicpage %}
