{% extends "layout.html" %}

{% block dynamicpage %}
    {% if company_role %}
        <div class="form-body">
            <!-- Login Form -->
            <div class="form-container">
                {% if company_role %}
                <h2>Edit your profile</h2>
                {% else %}
                <h2>Complete your profile</h2>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <label for="name">Full Name:</label>
                    {{ form.existing_full_name }}

                    <label for="email">Email Address:</label>
                    {{ form.existing_email }}

                    <label for="dob">Work Mode:</label>
                    {{ form.work_mode }}

                    <label for="dob">Description:</label>
                    {{ form.description }}

                    <label for="dob">Industry:</label>
                    {{ form.industry }}

                    <label for="dob">Country:</label>
                    {{ form.country }}

                    {% if form.errors %}
                    <!-- <div class="error-mess"> -->
                        {% for field, errors in form.errors.items %}
                            <h2 class="error-response">{{ errors|join:", " }}</h2>
                        {% endfor %}
                    <!-- </div> -->
                    {% endif %}
                    <button type="submit" class="auth-btn">Login</button>
                </form>
            </div>
        </div>
    {% else %}
    <form method="post">
        {% csrf_token %}
        <div class="form-body">
            <div class="form-container">
                <!-- Progress Bar -->
                <div class="progress-bar">
                    <div class="progress" id="progress"></div>
                </div>

                <!-- Page 1 -->
                <div class="form-page page-1 active">
                    {% if user_profile %}
                    <h2>Edit your profile</h2>
                    {% else %}
                    <h2>Complete your profile</h2>
                    {% endif %}
                    <label for="name">Full Name:</label>
                    {{ form.existing_full_name }}

                    <label for="email">Email Address:</label>
                    {{ form.existing_email }}

                    <label for="phone">Phone Number:</label>
                    {{ form.phone }}

                    <label for="dob">Date of Birth:</label>
                    {{ form.DOB }}

                    {% if form.errors %}
                    <!-- <div class="error-mess"> -->
                        {% for field, errors in form.errors.items %}
                            <h2 class="error-response">{{ errors|join:", " }}</h2>
                        {% endfor %}
                    <!-- </div> -->
                    {% endif %}

                    <div class="button-container">
                        <button class="next-btn">Next</button>
                    </div>
                </div>

                <!-- Page 2 -->
                <div class="form-page page-2">
                    <h2>Recent Work Experience</h2>
                    <label for="company">Company Name:</label>
                    {{ form.company_name }}

                    <label for="job-title">Job Title:</label>
                    {{ form.job_title }}

                    <label for="start-date">Start Date:</label>
                    {{ form.start_date }}

                    <label for="start-date">End Date:</label>
                    {{ form.end_date }}

                    <label for="employment-type">Employment Type:</label>
                    {{ form.employment_type }}

                    {% if form.errors %}
                    <!-- <div class="error-mess"> -->
                        {% for field, errors in form.errors.items %}
                            <h2 class="error-response">{{ errors|join:", " }}</h2>
                        {% endfor %}
                    <!-- </div> -->
                    {% endif %}

                    <div class="button-container">
                        <button class="prev-btn">Previous</button>
                        <button class="next-btn">Next</button>
                    </div>
                </div>

                <!-- Page 3 -->
                <div class="form-page page-3">
                    <h2>Education & Employment</h2>
                    <label for="education">Highest Education Level:</label>
                    {{ form.highest_education_level }}

                    <label for="occupation">Work field:</label>
                    {{ form.work_field }}

                    <label for="experience">Work Experience:</label>
                    {{ form.work_experience }}

                    <label for="resume">Upload Resume:</label>
                    {{ form.resume }}

                    <label for="ready-to-work">Ready to Work:</label>
                    {{ form.ready_to_work }}

                    {% if form.errors %}
                    <!-- <div class="error-mess"> -->
                        {% for field, errors in form.errors.items %}
                            <h2 class="error-response">{{ field }}: {{ errors|join:", " }}</h2>
                        {% endfor %}
                    <!-- </div> -->
                    {% endif %}

                    <div class="button-container">
                        <button class="prev-btn">Previous</button>
                        <button class="next-btn">Next</button>
                    </div>
                </div>

                <!-- Page 4 -->
                <div class="form-page page-4">
                    <h2>Additional Information</h2>
                    <label for="comments">Bio:</label>
                    {{ form.bio }}

                    <label for="skills">Skills:</label>
                    {{ form.skills }}

                    <label for="certifications">Certifications:</label>
                    {{ form.certifications }}

                    {% if form.errors %}
                    <!-- <div class="error-mess"> -->
                        {% for field, errors in form.errors.items %}
                            <h2 class="error-response">{{ field }}: {{ errors|join:", " }}</h2>
                        {% endfor %}
                    <!-- </div> -->
                    {% endif %}

                    <div class="button-container">
                        <button class="prev-btn">Previous</button>
                        <!-- <button class="submit-btn">Submit</button> -->
                        <button type="submit" class="submit-btn-userprofile">Submit</button>
                    </div>
                </div>

                <!-- Page Number Indicator -->
                <div class="page-indicator">
                    Page <span id="current-page">1</span> of <span id="total-pages">4</span>
                </div>
            </div>

            <!-- <script src="script.js"></script> -->
        </div>
    </form>
    {% endif %}
{% endblock dynamicpage %}
