{% extends "layout.html" %}

{% block dynamicpage %}
    {% if request.user.role == 'company' %}
    <form method="post">
        {% csrf_token %}
        <div class="form-body">
            <div class="form-container">
                <!-- Progress Bar -->
                <div class="progress-bar">
                    <div class="progress" id="progress"></div>
                </div>

                <!-- Page 1 -->
                <div class="form-page page-1 active">
                    {% if company_role %}
                    <h2>Edit your profile</h2>
                    {% else %}
                    <h2>Complete your profile</h2>
                    {% endif %}
                    <div class="page-content">
                        <label for="name">Full Name:</label>
                        {{ form.existing_full_name }}

                        <label for="email">Email Address:</label>
                        {{ form.existing_email }}

                        <label for="dob">Work Mode:</label>
                        {{ form.work_mode }}

                        <label for="dob">Tagline:</label>
                        {{ form.tagline }}

                        <label for="dob">Industry:</label>
                        {{ form.industry }}

                        <label for="dob">Country:</label>
                        {{ form.country }}
                    </div>
                    {% if form.errors %}
                    <!-- <div class="error-mess"> -->
                        {% for field, errors in form.errors.items %}
                            <h2 class="error-response">{{ errors|join:", " }}</h2>
                        {% endfor %}
                    <!-- </div> -->
                    {% endif %}
                    <div class="page-btns">
                        <div class="button-container">
                            <button class="next-btn">Next</button>
                        </div>
                    </div>
                </div>

                <!-- Page 2 -->
                <div class="form-page page-2">
                    <h2>Company Information</h2>
                    <div class="page-content">
                        <label for="company">Hire Status:</label>
                        {{ form.hire_status }}

                        <label for="job-title">Company Registration Number:</label>
                        {{ form.company_reg_num }}

                        <label for="job-description">Founded:</label>
                        {{ form.founded }}

                        <label for="start-date">Parent Company:</label>
                        {{ form.parent_company }}

                        <label for="start-date">Headquarters:</label>
                        {{ form.headquarters }}

                        <label for="employment-type">Annual Growth Rate:</label>
                        {{ form.annual_growth_rate }}

                        <label for="Country">Website:</label>
                        {{ form.website }}
                    </div>

                    {% if form.errors %}
                    <!-- <div class="error-mess"> -->
                        {% for field, errors in form.errors.items %}
                            <h2 class="error-response">{{ errors|join:", " }}</h2>
                        {% endfor %}
                    <!-- </div> -->
                    {% endif %}
                    <div class="page-btns">
                    <div class="button-container">
                        <button class="prev-btn">Previous</button>
                        <button class="next-btn">Next</button>
                    </div>
                    </div>
                </div>

                <!-- Page 3 -->
                <div class="form-page page-3">
                    <h2>About Us</h2>
                    <div class="page-content">
                        <label for="education">About Company:</label>
                        {{ form.about_us }}

                        <label for="occupation">Mission Statement:</label>
                        {{ form.mission_statement }}
                    </div>

                    {% if form.errors %}
                    <!-- <div class="error-mess"> -->
                        {% for field, errors in form.errors.items %}
                            <h2 class="error-response">{{ field }}: {{ errors|join:", " }}</h2>
                        {% endfor %}
                    <!-- </div> -->
                    {% endif %}

                    <div class="page-btns">
                    <div class="button-container">
                        <button class="prev-btn">Previous</button>
                        <button class="next-btn">Next</button>
                    </div>
                    </div>
                </div>

                <!-- Page 4 -->
                <div class="form-page page-4">
                    <h2>Additional Information</h2>
                    <div class="page-content">
                        <label for="comments">Core Technologies:</label>
                        {{ form.core_tech }}

                        <label for="skills">Awards:</label>
                        {{ form.awards }}

                        <label for="certifications">Certifications:</label>
                        {{ form.certifications }}
                    </div>

                    {% if form.errors %}
                    <!-- <div class="error-mess"> -->
                        {% for field, errors in form.errors.items %}
                            <h2 class="error-response">{{ field }}: {{ errors|join:", " }}</h2>
                        {% endfor %}
                    <!-- </div> -->
                    {% endif %}

                    <div class="page-btns">
                    <div class="button-container">
                        <button class="prev-btn">Previous</button>
                        <!-- <button class="submit-btn">Submit</button> -->
                        <button type="submit" class="submit-btn-userprofile">Submit</button>
                    </div>
                    </div>
                </div>


                <!-- Page Number Indicator -->
                <div class="page-indicator">
                    Page <span id="current-page">1</span> of <span id="total-pages">4</span>
                </div>
            </div>
        </div>
    </form>
    {% else %}
    <form method="post">
        {% csrf_token %}
        <div class="form-body">
            <div class="form-container">
                <!-- Progress Bar -->
                <div class="progress-bar">
                    <div class="progress" id="progress"></div>
                </div>

                <!-- Page 1 -->
                <div class="form-page page-1 active">
                    {% if user_profile %}
                    <h2>Edit your profile</h2>
                    {% else %}
                    <h2>Complete your profile</h2>
                    {% endif %}
                    <div class="page-content">
                        <label for="name">Full Name:</label>
                        {{ form.existing_full_name }}

                        <label for="email">Email Address:</label>
                        {{ form.existing_email }}

                        <label for="phone">Phone Number:</label>
                        {{ form.phone }}

                        <label for="dob">Date of Birth:</label>
                        {{ form.DOB }}

                        <label for="comments">Country:</label>
                        {{ form.user_country }}
                    </div>

                    {% if form.errors %}
                    <!-- <div class="error-mess"> -->
                        {% for field, errors in form.errors.items %}
                            <h2 class="error-response">{{ errors|join:", " }}</h2>
                        {% endfor %}
                    <!-- </div> -->
                    {% endif %}
                    <div class="page-btns">
                        <div class="button-container">
                            <button class="next-btn">Next</button>
                        </div>
                    </div>
                </div>

                <!-- Page 2 -->
                <div class="form-page page-2">
                    <h2>Recent Work Experience</h2>
                    <div class="page-content">
                        <label for="company">Company Name:</label>
                        {{ form.company_name }}

                        <label for="job-title">Job Title:</label>
                        {{ form.job_title }}

                        <label for="job-description">Job description:</label>
                        {{ form.job_description }}

                        <label for="start-date">Start Date:</label>
                        {{ form.start_date }}

                        <label for="start-date">End Date:</label>
                        {{ form.end_date }}

                        <label for="employment-type">Employment Type:</label>
                        {{ form.employment_type }}

                        <label for="employment-type">Work Mode:</label>
                        {{ form.work_mode }}

                        <label for="Country">Job Location:</label>
                        {{ form.job_location }}
                    </div>

                    {% if form.errors %}
                    <!-- <div class="error-mess"> -->
                        {% for field, errors in form.errors.items %}
                            <h2 class="error-response">{{ errors|join:", " }}</h2>
                        {% endfor %}
                    <!-- </div> -->
                    {% endif %}
                    <div class="page-btns">
                    <div class="button-container">
                        <button class="prev-btn">Previous</button>
                        <button class="next-btn">Next</button>
                    </div>
                    </div>
                </div>

                <!-- Page 3 -->
                <div class="form-page page-3">
                    <h2>Education & Employment</h2>
                    <div class="page-content">
                        <label for="education">Highest Education Level:</label>
                        {{ form.highest_education_level }}

                        <label for="occupation">Work field:</label>
                        {{ form.work_field }}

                        <label for="experience">Work Experience:</label>
                        {{ form.work_experience }}

                        <label for="ready-to-work">Ready to Work:</label>
                        {{ form.ready_to_work }}
                    </div>

                    {% if form.errors %}
                    <!-- <div class="error-mess"> -->
                        {% for field, errors in form.errors.items %}
                            <h2 class="error-response">{{ field }}: {{ errors|join:", " }}</h2>
                        {% endfor %}
                    <!-- </div> -->
                    {% endif %}

                    <div class="page-btns">
                    <div class="button-container">
                        <button class="prev-btn">Previous</button>
                        <button class="next-btn">Next</button>
                    </div>
                    </div>
                </div>

                <!-- Page 4 -->
                <div class="form-page page-4">
                    <h2>Additional Information</h2>
                    <div class="page-content">
                        <label for="comments">Portfolio:</label>
                        {{ form.portfolio }}

                        <label for="comments">Bio:</label>
                        {{ form.bio }}

                        <label for="skills">Skills:</label>
                        {{ form.skills }}

                        <label for="projects">Projects:</label>
                        {{ form.projects }}

                        <label for="certifications">Certifications:</label>
                        {{ form.certifications }}
                    </div>

                    {% if form.errors %}
                    <!-- <div class="error-mess"> -->
                        {% for field, errors in form.errors.items %}
                            <h2 class="error-response">{{ field }}: {{ errors|join:", " }}</h2>
                        {% endfor %}
                    <!-- </div> -->
                    {% endif %}

                    <div class="page-btns">
                    <div class="button-container">
                        <button class="prev-btn">Previous</button>
                        <!-- <button class="submit-btn">Submit</button> -->
                        <button type="submit" class="submit-btn-userprofile">Submit</button>
                    </div>
                    </div>
                </div>

                <!-- Page Number Indicator -->
                <div class="page-indicator">
                    Page <span id="current-page">1</span> of <span id="total-pages">4</span>
                </div>
            </div>

            <!-- <script src="script.js"></script> -->
        </div>
    </form>


    <script>
    $(document).ready(function() {
        $('#id_skills').select2({
            placeholder: "Select skills",
            allowClear: true
        });
    });
    </script>
    {% endif %}
{% endblock dynamicpage %}
