{% extends "layout.html" %}

{% block dynamicpage %}
    {% if user_profile %}
        {% if company_role %}
        <div class="company-role-container">
            <h2>{{ company_role.user.full_name }}</h2>
            <p>Department: {{ company_role.company_id }}</p>
            <p>Responsibilities: {{ company_role.industry }}</p>
            <p>Start Date: {{ company_role.description }}</p>
        {% else %}
        <div class="profile-container">
            <h2>{{ user_profile.user.full_name }}</h2>
            <p>Email: {{ user_profile.user.email }}</p>
            <p>Phone: {{ user_profile.phone }}</p>
            <p>DOB: {{ user_profile.DOB }}</p>
            <p>Work Field: {{ user_profile.work_field }}</p>
            <p>Bio: {{ user_profile.bio }}</p>
            <p>Skills: {{ user_profile.skills }}</p>

        </div>
        <button><a href="{% url 'profile-update' %}">Edit Profile</a></button>
        {% endif %}
    {% endif %}
{% endblock dynamicpage %}
